.menu-bar {
    -fx-background-color: #F0F0F0;
    -fx-padding: 0 0 0 0;
}

.menu {
    -fx-background-color: #F0F0F0;
}

.menu:hover, .menu:showing {
    -fx-background-color: #E0E0E0;
}

.menu .label {
    -fx-text-fill: black;
}

.menu .context-menu {
    -fx-padding: 1 0 1 0;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:hover, .menu-item:focused {
    -fx-background-color: #ebebeb;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
}

.tab-pane .tab-header-background {
    -fx-background-color: #21252b;
}

.tab * {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab {
    -fx-cursor: hand;
    -fx-padding: 7.5 5 7.5 10;
    -fx-background-color: #21252b;
    -fx-border-color: transparent #1e2126;
}

.tab .tab-close-button {
    /*-fx-shape: "M19,6.41L17.59,5 12,10.59 6.41,5 5,6.41 10.59,12 5,17.59 6.41,19 12,13.41 17.59,19 19,17.59 13.41,12z";*/
    /*-fx-scale-shape: false;*/
    -fx-background-color: white;
    -fx-border-color: transparent;
}

.tab:selected {
    -fx-background-color: #2c313a;
}

.tab .tab-label {
    -fx-text-fill: white;
    -fx-padding: 0 7.5 0 0;
}

.tab-pane .tab-content-area {
    -fx-background-color: #282c34;
}

